---
import { Image } from 'astro:assets'
import {profile} from '../../settings'
import SocialIcons from './SocialIcons.astro'
import ProfilePictures from '@/assets/profile_pictures.jpg'
import { getCollection } from 'astro:content'
import { template } from '@/settings'

const isBlogPopulated = await getCollection('blog').then(collection => collection.length > 0)

const {fullName, title} = profile
---
<aside
	class='px-4 pt-4 h-screen w-[20rem] bg-base-200 text-base-content flex flex-col'
>
	<div class='flex flex-col my-8 justify-between h-full'>
		<div>
			<div class='mx-4 mt-8'>
				<ul class='space-y-4 menu grow shrink menu-md overflow-y-auto'>
					<li>
						<a href={`${template.base}/`} class='text-lg'>Home</a>
					</li>
					<li>
						<a href={`${template.base}/people`} class='text-lg'>People</a>
					</li>
					<li>
						<a href={`${template.base}/projects`} class='text-lg'>Projects</a>
					</li>
					<li class="menu-dropdown">
  <details>
    <summary>
      <a href={`${template.base}/papers`} class='text-lg'>Papers</a>
    </summary>
    <ul class="ml-4">
      <li><a href={`${template.base}/papers#economic-decision-making`} class="text-base">Economic Decision Making with Limited Attention</a></li>
      <li><a href={`${template.base}/papers#bounded-rationality`} class="text-base">Bounded Rationality in Macroeconomics</a></li>
      <li><a href={`${template.base}/papers#behavioral-economic-links`} class="text-base">Links Between Behavioral and Economic Phenomena</a></li>
      <li><a href={`${template.base}/papers#neuroeconomics`} class="text-base">Neuroeconomics</a></li>
      <li><a href={`${template.base}/papers#other`} class="text-base">Other</a></li>
    </ul>
  </details>
</li>
					<li>
						<a href={`${template.base}/links`} class='text-lg'>Links</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</aside>
